# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

# 親機にしたい方をコメントアウト
if SHIELD_FISH_LEFT
# if SHIELD_FISH_RIGHT

config ZMK_KEYBOARD_NAME
    default "Fish Keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_FISH_LEFT || SHIELD_FISH_RIGHT

config ZMK_SPLIT
    default y

endif