#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

&mt {
    tapping-term-ms = <175>;
    flavor = "tap-preferred";
};

&lt {
    tapping-term-ms = <175>;
    flavor = "balanced";
};

/ {
   keymap {
      compatible = "zmk,keymap";

      layer_0 {
         bindings = <
                        &kp L       &kp U       &kp F       &mt LCTRL DOT       &kp K       &kp W       &kp R       &kp Y
&kp Q       &kp E       &kp I       &kp A       &kp O       &mt LALT COMMA      &kp G       &kp T       &kp N       &kp S       &kp H       &kp P
            &kp Z       &kp X       &kp C       &kp V                                       &kp D       &kp M       &kp J       &kp B
                                             &mt LSHFT BSPC &mt LGUI ENTER      &lt 2 TAB   &lt 1 SPACE
         >;
      };

      layer_1 {
         bindings = <
                        &kp L       &kp U       &kp F       &mt LCTRL DOT       &kp K       &kp W       &kp R       &kp Y
&kp Q       &kp E       &kp I       &kp A       &kp O       &mt LALT COMMA      &kp G       &kp T       &kp N       &kp S       &kp H       &kp P
            &kp Z       &kp X       &kp C       &kp V                                       &kp D       &kp M       &kp J       &kp B
                                    &mt LSHFT LS(BSPC) &mt LGUI LS(ENTER)       &lt 3 TAB   &none
         >;
      };

      layer_2 {
         bindings = <
                        &kp L       &kp U       &kp F       &mt LCTRL DOT       &kp K       &kp W       &kp R       &kp Y
&kp Q       &kp E       &kp I       &kp A       &kp O       &mt LALT COMMA      &kp G       &kp T       &kp N       &kp S       &kp H       &kp P
            &kp Z       &kp X       &kp C       &kp V                                       &kp D       &kp M       &kp J       &kp B
                                    &mt LSHFT LG(BSPC) &mt LGUI LG(ENTER)       &none       &lt 3 SPACE
         >;
      };

      layer_3 {
         bindings = <
                        &kp L       &kp U       &kp F       &mt LCTRL DOT       &kp K       &kp W       &kp R       &kp Y
&kp Q       &kp E       &kp I       &kp A       &kp O       &mt LALT COMMA      &kp G       &kp T       &kp N       &kp S       &kp H       &kp P
            &kp Z       &kp X       &kp C       &kp V                                       &kp D       &kp M       &kp J       &kp B
                                                &none       &none               &none       &none
         >;
      };
   };
};
